<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>Controller.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>Controller.StartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArticleServlet</servlet-name>
        <servlet-class>Controller.ViewArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>Controller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnArticleServlet</servlet-name>
        <servlet-class>Controller.ViewOwnArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdminServlet</servlet-name>
        <servlet-class>Controller.SearchAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMulServlet</servlet-name>
        <servlet-class>Controller.DeleteMulServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusToDeletedServlet</servlet-name>
        <servlet-class>Controller.StatusToDeletedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusToActiveServlet</servlet-name>
        <servlet-class>Controller.StatusToActiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingServlet</servlet-name>
        <servlet-class>Controller.PagingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/ServletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArticleServlet</servlet-name>
        <url-pattern>/ViewArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnArticleServlet</servlet-name>
        <url-pattern>/ViewOwnArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdminServlet</servlet-name>
        <url-pattern>/SearchAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMulServlet</servlet-name>
        <url-pattern>/DeleteMulServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusToDeletedServlet</servlet-name>
        <url-pattern>/StatusToDeletedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusToActiveServlet</servlet-name>
        <url-pattern>/StatusToActiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingServlet</servlet-name>
        <url-pattern>/PagingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletDispatcher</welcome-file>
    </welcome-file-list>
</web-app>
